.about-blok .sign1 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-blok .story1 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-blok .separator-two {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.about-blok {
  width: 100%;
  height: 1000px; }
  .about-blok .sign1 {
    margin-top: 92px;
    margin-bottom: 25px; }
  .about-blok .story1 {
    margin-bottom: 42px; }
  .about-blok p {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    margin-bottom: 65px; }
  .about-blok .separator-two {
    margin: 0 auto;
    margin-bottom: 50px; }
  .about-blok .card-wraper {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .about-blok .card-wraper .about {
      width: 380px;
      height: 250px;
      background-size: contain; }
      .about-blok .card-wraper .about-pic1 {
        background: url(../images/about/about-1.jpg) center no-repeat; }
      .about-blok .card-wraper .about-pic2 {
        background: url(../images/about/about-2.jpg) center no-repeat; }
      .about-blok .card-wraper .about-pic3 {
        background: url(../images/about/about-3.jpg) center no-repeat; }
  .about-blok .about-footer {
    width: 100%;
    height: 270px;
    background-color: #95e1d3;
    margin-top: 110px; }
    .about-blok .about-footer .stats-wrapper {
      display: flex;
      width: 100%; }
      .about-blok .about-footer .stats-wrapper .card {
        width: 20%;
        height: 270px;
        color: white;
        font-size: 14px;
        text-align: center;
        padding-top: 89px;
        border-right: 1px solid #ffffff; }
        .about-blok .about-footer .stats-wrapper .card:first-child {
          border-left: 1px solid #ffffff; }
        .about-blok .about-footer .stats-wrapper .card span {
          font-size: 72px;
          font-weight: 700; }
