.clients .sign7 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.clients .story7 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.clients .separator-nine, .clients .clientcolumns .cliseparat {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.clients {
  height: 815px;
  background: url(../images/devices-bg.jpg) center no-repeat;
  background-size: cover; }
  .clients .sign7 {
    padding-top: 109px; }
  .clients .clientcolumns {
    width: 100%;
    height: 558px;
    display: flex;
    padding-top: 50px; }
    .clients .clientcolumns .clientbox {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 70px; }
    .clients .clientcolumns .left {
      margin-left: 245px; }
    .clients .clientcolumns .right {
      margin-right: 195px; }
    .clients .clientcolumns .climg {
      width: 271px;
      height: 110px;
      overflow: hidden;
      border-radius: 50%; }
    .clients .clientcolumns .clientcard {
      width: 512px;
      height: 162px;
      display: flex;
      gap: 15px; }
    .clients .clientcolumns .cliname {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #333333;
      margin-bottom: 15px; }
    .clients .clientcolumns .cliprof {
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 300;
      font-style: italic;
      color: #333333; }
    .clients .clientcolumns .cliseparat {
      margin: 20px 0 25px 0 !important; }
    .clients .clientcolumns .clitext {
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      color: #999999; }
