.design .sign3 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.design .story3 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.design .separator-four {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.design {
  height: 850px;
  background: url(../images/devices-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative; }
  .design .sign3 {
    padding-top: 96px; }
  .design .story3 {
    padding-top: 25px; }
  .design .device-wrapper {
    position: relative;
    width: 477px;
    margin: 0 auto;
    margin-top: 26px; }
    .design .device-wrapper .tablet {
      width: 477px;
      height: 713px;
      background: url(../images/display.png) no-repeat; }
    .design .device-wrapper .smalphone {
      position: absolute;
      top: 200px;
      right: -160px;
      width: 274px;
      height: 476px;
      background: url(../images/iphone.png) no-repeat; }
