.exsampl .sign6 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.exsampl .story6 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.exsampl .separator-eight, .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77 {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.exsampl {
  height: 1515px; }
  .exsampl .sign6 {
    margin-top: 115px; }
  .exsampl .work-text2 {
    text-align: center;
    margin-bottom: 103px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999; }
  .exsampl .allexsampl {
    height: 780px;
    width: 100%;
    display: flex; }
    .exsampl .allexsampl .leftexsampl,
    .exsampl .allexsampl .rightexample {
      width: 50%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); }
    .exsampl .allexsampl img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .exsampl .allexsampl .rightex1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3; }
    .exsampl .allexsampl .rightex2 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
    .exsampl .allexsampl img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .exsampl .wishis2 {
    width: 100%;
    position: relative; }
    .exsampl .wishis2 .chec22 {
      background: url(../images/icons/arrow___down_353.png) no-repeat;
      width: 22px;
      height: 12px;
      background-size: contain;
      position: absolute;
      transform: rotate(90deg);
      left: 0;
      top: 140px; }
    .exsampl .wishis2 .chec33 {
      background: url(../images/icons/arrow___down_353.png) no-repeat;
      width: 22px;
      height: 12px;
      background-size: contain;
      position: absolute;
      transform: rotate(270deg);
      bottom: 140px;
      right: -20px; }
    .exsampl .wishis2 .wishisthree {
      font-family: Roboto;
      font-size: 24px;
      line-height: 36px;
      font-weight: 300;
      font-style: italic;
      color: #999999;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 290px;
      padding: 0 20px 0 115px;
      margin-top: 55px; }
      .exsampl .wishis2 .wishisthree .wishis-text2 {
        margin-left: 32px; }
        .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 {
          display: flex;
          align-items: center; }
          .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77 {
            margin: 20px 0 !important; }
          .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .signatyre2 {
            font-family: "Kaushan Script";
            font-size: 24px;
            line-height: 1.2;
            font-weight: 400;
            color: #333333;
            margin-left: 10px; }
