.footer {
  min-height: 550px; }
  .footer .footer__row {
    display: flex;
    gap: 30px; }
    .footer .footer__row .footer__left {
      width: 460px; }
      .footer .footer__row .footer__left .footer__logo {
        font-family: Montserrat;
        font-size: 46px;
        line-height: 1.2;
        font-weight: 700;
        color: #cccccc;
        margin-bottom: 44px; }
      .footer .footer__row .footer__left .footer__text {
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        color: #999999;
        margin-bottom: 50px; }
      .footer .footer__row .footer__left .footer__followers {
        font-family: Montserrat;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #333333; }
        .footer .footer__row .footer__left .footer__followers span {
          font-size: 14px;
          font-weight: 400; }
        .footer .footer__row .footer__left .footer__followers .footer__separat {
          width: 100%;
          height: 1px;
          background-color: #e5e5e5;
          margin: 20px 0 20px; }
      .footer .footer__row .footer__left .followers__icons {
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        font-style: italic;
        color: #999999; }
        .footer .footer__row .footer__left .followers__icons a img {
          margin-left: 10px; }
      .footer .footer__row .footer__left .footer__form {
        margin-top: 39px; }
        .footer .footer__row .footer__left .footer__form .email {
          font-family: Roboto;
          font-size: 15px;
          line-height: 24px;
          font-weight: 300;
          font-style: italic;
          color: #cccccc;
          margin-top: 6px;
          width: 230px;
          height: 40px;
          background-color: #ffffff;
          border: 1px solid #e7e7e7; }
        .footer .footer__row .footer__left .footer__form .subscbuttton {
          width: 150px;
          height: 40px;
          background-color: #95e1d3;
          font-family: Montserrat;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 700;
          text-transform: uppercase;
          color: #ffffff;
          margin: 6px 0 0 -3px; }
    .footer .footer__row .footer__center {
      width: 331px; }
      .footer .footer__row .footer__center .footer__blogs {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 80px; }
      .footer .footer__row .footer__center .blogs__pict {
        display: flex;
        gap: 20px;
        margin-bottom: 40px; }
        .footer .footer__row .footer__center .blogs__pict .blogs__text {
          font-family: Montserrat;
          font-size: 12px;
          line-height: 18px;
          font-weight: 400;
          text-transform: uppercase;
          color: #333333; }
        .footer .footer__row .footer__center .blogs__pict .blogs__date {
          font-family: Roboto;
          font-size: 13px;
          line-height: 24px;
          font-weight: 300;
          font-style: italic;
          color: #999999; }
    .footer .footer__row .footer__right {
      width: 270px; }
      .footer .footer__row .footer__right .footer__instagram {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 80px; }
      .footer .footer__row .footer__right .footer__cards {
        display: grid;
        width: 270px;
        height: 270px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); }
      .footer .footer__row .footer__right .footer__morefoto {
        font-family: Roboto;
        font-size: 13px;
        line-height: 24px;
        font-weight: 300;
        font-style: italic;
        color: #333333;
        margin-top: 30px; }
  .footer .footer__lastseparat {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 30px 0 20px 0; }
  .footer .footer__copyright {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    text-align: center; }
    .footer .footer__copyright .redletters {
      color: #f38181; }
