.main {
  width: 100%;
  height: 1000px;
  background: url(../images/main-bg.jpg) center no-repeat;
  background-size: cover; }
  .main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px; }
    .main header .main-logo {
      font-family: Montserrat;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff; }
    .main header .main-menu {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      list-style: none;
      width: 620px;
      align-items: center; }
      .main header .main-menu li {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase; }
        .main header .main-menu li a {
          color: white; }
          .main header .main-menu li a:hover {
            color: #fce38a;
            text-decoration: underline; }
        .main header .main-menu li .icon {
          width: 24px;
          height: 24px;
          display: block;
          background-size: contain !important; }
          .main header .main-menu li .icon-basket {
            background: url(../images/icons/store.png) center no-repeat; }
          .main header .main-menu li .icon-search {
            background: url(../images/icons/search.png) center no-repeat; }
  .main .first-title {
    font-family: "Kaushan Script";
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    margin-top: 229px;
    margin-bottom: 42px; }
  .main .main-title {
    font-family: Montserrat;
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    text-align: center; }
  .main .separator {
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 74px; }
  .main .main-button {
    width: 160px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 53px;
    display: block;
    text-align: center;
    padding-top: 8px; }
    .main .main-button:hover {
      color: #fce38a;
      border: 3px solid #fce38a; }
