.about-servises .sign2 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-servises .story2 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-servises .separator-three {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.about-servises {
  width: 100%;
  height: 650px; }
  .about-servises .sign2 {
    margin: 110px 0 25px; }
  .about-servises .story2 {
    margin-bottom: 44px; }
  .about-servises .separator-three {
    margin-bottom: 66px; }
  .about-servises .servis-card .line {
    height: 1px;
    background-color: #e5e5e5;
    margin-bottom: 51px; }
  .about-servises .servis-card ul {
    height: 121px;
    display: flex; }
    .about-servises .servis-card ul .card1 {
      width: 33%;
      display: flex; }
      .about-servises .servis-card ul .card1 p {
        padding-left: 30px; }
      .about-servises .servis-card ul .card1 .icon1 {
        width: 32px;
        height: 31px;
        display: block;
        background-size: contain !important; }
        .about-servises .servis-card ul .card1 .icon1-photo {
          background: url(../images/icons/photo.png) no-repeat; }
        .about-servises .servis-card ul .card1 .icon1-design {
          background: url(../images/icons/design.png) no-repeat; }
        .about-servises .servis-card ul .card1 .icon1-creativity {
          background: url(../images/icons/creativity.png) no-repeat; }
        .about-servises .servis-card ul .card1 .icon1-seo {
          background: url(../images/icons/seo.png) no-repeat; }
        .about-servises .servis-card ul .card1 .icon1-chtml {
          background: url(../images/icons/html.png) no-repeat; }
        .about-servises .servis-card ul .card1 .icon1-digital {
          background: url(../images/icons/digital.png) no-repeat; }
      .about-servises .servis-card ul .card1 .uptit {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 21px;
        text-align: left; }
      .about-servises .servis-card ul .card1 .textin {
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        color: #999999;
        text-align: left; }
