.stories .sign8 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.stories .story8 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.stories .separator-ten {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.stories {
  height: 800px; }
  .stories .sign8 {
    padding-top: 112px; }
  .stories .storiscards {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .stories .storiscards .storcard .storimg {
      position: relative; }
      .stories .storiscards .storcard .storimg .stordate {
        width: 60px;
        height: 70px;
        color: #ffffff;
        background-color: #95e1d3;
        position: absolute;
        text-align: center;
        padding-top: 5px;
        bottom: 12px;
        left: -12px; }
        .stories .storiscards .storcard .storimg .stordate p {
          font-family: Montserrat;
          font-size: 30px;
          line-height: 1.2;
          font-weight: 700;
          text-transform: uppercase;
          color: #ffffff; }
        .stories .storiscards .storcard .storimg .stordate .month {
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
          font-style: italic;
          text-transform: none;
          padding-top: none; }
    .stories .storiscards .storcard .storiname {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #333333;
      margin: 20px 0; }
    .stories .storiscards .storcard .storitext {
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      color: #999999; }
    .stories .storiscards .storcard .storiline {
      width: 380px;
      height: 1px;
      background-color: #e5e5e5;
      margin: 20px 0; }
    .stories .storiscards .storcard .storicon {
      display: flex;
      gap: 20px;
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 300;
      font-style: italic;
      color: #999999; }
