* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative; }

.main {
  width: 100%;
  height: 1000px;
  background: url(../images/main-bg.jpg) center no-repeat;
  background-size: cover; }
  .main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px; }
    .main header .main-logo {
      font-family: Montserrat;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff; }
    .main header .main-menu {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      list-style: none;
      width: 620px;
      align-items: center; }
      .main header .main-menu li {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase; }
        .main header .main-menu li a {
          color: white; }
          .main header .main-menu li a:hover {
            color: #fce38a;
            text-decoration: underline; }
        .main header .main-menu li .icon {
          width: 24px;
          height: 24px;
          display: block;
          background-size: contain !important; }
          .main header .main-menu li .icon-basket {
            background: url(../images/icons/store.png) center no-repeat; }
          .main header .main-menu li .icon-search {
            background: url(../images/icons/search.png) center no-repeat; }
  .main .first-title {
    font-family: "Kaushan Script";
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    margin-top: 229px;
    margin-bottom: 42px; }
  .main .main-title {
    font-family: Montserrat;
    font-size: 150px;
    line-height: 140px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    text-align: center; }
  .main .separator {
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 74px; }
  .main .main-button {
    width: 160px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 53px;
    display: block;
    text-align: center;
    padding-top: 8px; }
    .main .main-button:hover {
      color: #fce38a;
      border: 3px solid #fce38a; }

.about-blok .sign1, .about-servises .sign2, .design .sign3, .work .sign4, .team .sign5, .exsampl .sign6, .clients .sign7, .stories .sign8 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-blok .story1, .about-servises .story2, .design .story3, .work .story4, .team .story5, .exsampl .story6, .clients .story7, .stories .story8 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-blok .separator-two, .about-servises .separator-three, .design .separator-four, .work .separator-five, .wishis .wishistwo .wishis-text .signat .separator6, .team .separator-seven, .exsampl .separator-eight, .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77, .clients .separator-nine, .clients .clientcolumns .cliseparat, .stories .separator-ten {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.about-blok {
  width: 100%;
  height: 1000px; }
  .about-blok .sign1 {
    margin-top: 92px;
    margin-bottom: 25px; }
  .about-blok .story1 {
    margin-bottom: 42px; }
  .about-blok p {
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    margin-bottom: 65px; }
  .about-blok .separator-two {
    margin: 0 auto;
    margin-bottom: 50px; }
  .about-blok .card-wraper {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .about-blok .card-wraper .about {
      width: 380px;
      height: 250px;
      background-size: contain; }
      .about-blok .card-wraper .about-pic1 {
        background: url(../images/about/about-1.jpg) center no-repeat; }
      .about-blok .card-wraper .about-pic2 {
        background: url(../images/about/about-2.jpg) center no-repeat; }
      .about-blok .card-wraper .about-pic3 {
        background: url(../images/about/about-3.jpg) center no-repeat; }
  .about-blok .about-footer {
    width: 100%;
    height: 270px;
    background-color: #95e1d3;
    margin-top: 110px; }
    .about-blok .about-footer .stats-wrapper {
      display: flex;
      width: 100%; }
      .about-blok .about-footer .stats-wrapper .card {
        width: 20%;
        height: 270px;
        color: white;
        font-size: 14px;
        text-align: center;
        padding-top: 89px;
        border-right: 1px solid #ffffff; }
        .about-blok .about-footer .stats-wrapper .card:first-child {
          border-left: 1px solid #ffffff; }
        .about-blok .about-footer .stats-wrapper .card span {
          font-size: 72px;
          font-weight: 700; }

.about-blok .sign1, .about-servises .sign2, .design .sign3, .work .sign4, .team .sign5, .exsampl .sign6, .clients .sign7, .stories .sign8 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-blok .story1, .about-servises .story2, .design .story3, .work .story4, .team .story5, .exsampl .story6, .clients .story7, .stories .story8 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-blok .separator-two, .about-servises .separator-three, .design .separator-four, .work .separator-five, .wishis .wishistwo .wishis-text .signat .separator6, .team .separator-seven, .exsampl .separator-eight, .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77, .clients .separator-nine, .clients .clientcolumns .cliseparat, .stories .separator-ten {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.about-servises {
  width: 100%;
  height: 650px; }
  .about-servises .sign2 {
    margin: 110px 0 25px; }
  .about-servises .story2 {
    margin-bottom: 44px; }
  .about-servises .separator-three {
    margin-bottom: 66px; }
  .about-servises .servis-card .line {
    height: 1px;
    background-color: #e5e5e5;
    margin-bottom: 51px; }
  .about-servises .servis-card ul {
    height: 121px;
    display: flex; }
    .about-servises .servis-card ul .card1 {
      width: 33%;
      display: flex; }
      .about-servises .servis-card ul .card1 p {
        padding-left: 30px; }
      .about-servises .servis-card ul .card1 .icon1 {
        width: 32px;
        height: 31px;
        display: block;
        background-size: contain !important; }
        .about-servises .servis-card ul .card1 .icon1-photo {
          background: url(../images/icons/photo.png) no-repeat; }
        .about-servises .servis-card ul .card1 .icon1-design {
          background: url(../images/icons/design.png) no-repeat; }
        .about-servises .servis-card ul .card1 .icon1-creativity {
          background: url(../images/icons/creativity.png) no-repeat; }
        .about-servises .servis-card ul .card1 .icon1-seo {
          background: url(../images/icons/seo.png) no-repeat; }
        .about-servises .servis-card ul .card1 .icon1-chtml {
          background: url(../images/icons/html.png) no-repeat; }
        .about-servises .servis-card ul .card1 .icon1-digital {
          background: url(../images/icons/digital.png) no-repeat; }
      .about-servises .servis-card ul .card1 .uptit {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 21px;
        text-align: left; }
      .about-servises .servis-card ul .card1 .textin {
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        color: #999999;
        text-align: left; }

.about-blok .sign1, .about-servises .sign2, .design .sign3, .work .sign4, .team .sign5, .exsampl .sign6, .clients .sign7, .stories .sign8 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-blok .story1, .about-servises .story2, .design .story3, .work .story4, .team .story5, .exsampl .story6, .clients .story7, .stories .story8 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-blok .separator-two, .about-servises .separator-three, .design .separator-four, .work .separator-five, .wishis .wishistwo .wishis-text .signat .separator6, .team .separator-seven, .exsampl .separator-eight, .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77, .clients .separator-nine, .clients .clientcolumns .cliseparat, .stories .separator-ten {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.design {
  height: 850px;
  background: url(../images/devices-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative; }
  .design .sign3 {
    padding-top: 96px; }
  .design .story3 {
    padding-top: 25px; }
  .design .device-wrapper {
    position: relative;
    width: 477px;
    margin: 0 auto;
    margin-top: 26px; }
    .design .device-wrapper .tablet {
      width: 477px;
      height: 713px;
      background: url(../images/display.png) no-repeat; }
    .design .device-wrapper .smalphone {
      position: absolute;
      top: 200px;
      right: -160px;
      width: 274px;
      height: 476px;
      background: url(../images/iphone.png) no-repeat; }

.about-blok .sign1, .about-servises .sign2, .design .sign3, .work .sign4, .team .sign5, .exsampl .sign6, .clients .sign7, .stories .sign8 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-blok .story1, .about-servises .story2, .design .story3, .work .story4, .team .story5, .exsampl .story6, .clients .story7, .stories .story8 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-blok .separator-two, .about-servises .separator-three, .design .separator-four, .work .separator-five, .wishis .wishistwo .wishis-text .signat .separator6, .team .separator-seven, .exsampl .separator-eight, .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77, .clients .separator-nine, .clients .clientcolumns .cliseparat, .stories .separator-ten {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.work {
  height: 800px; }
  .work .sign4 {
    margin-top: 116px;
    margin-bottom: 25px; }
  .work .story4 {
    margin-bottom: 43px; }
  .work .separator-five {
    margin-bottom: 50px; }
  .work .work-text {
    text-align: center;
    margin-bottom: 95px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999; }
  .work .work-table {
    width: 1200px;
    height: 380px;
    display: flex;
    justify-content: space-between; }
    .work .work-table .work-pict {
      width: 570px;
      height: 380px;
      background: url(../images/work.jpg) no-repeat;
      background-size: cover; }
    .work .work-table .work-buttons {
      width: 570px;
      height: 380px; }
      .work .work-table .work-buttons .icon2 {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #333333; }
      .work .work-table .work-buttons .chec {
        background: url(../images/icons/arrow___down_353.png) no-repeat;
        width: 22px;
        height: 12px;
        background-size: contain;
        position: absolute;
        top: 24px;
        right: 24px; }
      .work .work-table .work-buttons .buton1 {
        width: 600px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #e5e5e5;
        position: relative;
        display: flex;
        align-items: center; }
        .work .work-table .work-buttons .buton1 .work-butone {
          background: url(../images/icons/photo.png) no-repeat;
          height: 30px;
          width: 30px;
          background-size: contain;
          margin: 0 16px 0 24px; }
      .work .work-table .work-buttons .work-plasehold {
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        font-style: italic;
        color: #999999;
        border: 1px solid #e5e5e5;
        border-top: none;
        width: 600px;
        padding: 10px 20px 20px 10px;
        overflow-y: scroll; }
      .work .work-table .work-buttons .buton3 {
        width: 600px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #e5e5e5;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 10px; }
        .work .work-table .work-buttons .buton3 .work-butwoo {
          background: url(../images/icons/creativity.png) no-repeat;
          height: 30px;
          width: 30px;
          background-size: contain;
          margin: 0 16px 0 24px; }
      .work .work-table .work-buttons .buton4 {
        width: 600px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #e5e5e5;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 10px; }
        .work .work-table .work-buttons .buton4 .work-buthree {
          background: url(../images/icons/design.png) no-repeat;
          height: 30px;
          width: 30px;
          background-size: contain;
          margin: 0 16px 0 24px; }

.wishis {
  width: 100%;
  background-color: #f8f8f8;
  position: relative; }
  .wishis .chec2 {
    background: url(../images/icons/arrow___down_353.png) no-repeat;
    width: 22px;
    height: 12px;
    background-size: contain;
    position: absolute;
    transform: rotate(90deg);
    left: 0;
    top: 140px; }
  .wishis .chec3 {
    background: url(../images/icons/arrow___down_353.png) no-repeat;
    width: 22px;
    height: 12px;
    background-size: contain;
    position: absolute;
    transform: rotate(270deg);
    bottom: 140px;
    right: -20px; }
  .wishis .wishistwo {
    font-family: Roboto;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 290px;
    padding: 0 20px 0 115px; }
    .wishis .wishistwo .icon-speech {
      width: 150px;
      height: 150px;
      background-color: rgba(0, 0, 0, 0);
      border: 3px solid #95e1d3; }
      .wishis .wishistwo .icon-speech .iconin {
        background: url(../images/icons/speech.png) no-repeat;
        background-size: contain;
        width: 63px;
        height: 61px;
        margin: 45px auto; }
    .wishis .wishistwo .wishis-text .signat {
      display: flex;
      align-items: center; }
      .wishis .wishistwo .wishis-text .signat .separator6 {
        margin: 20px 0 !important; }
      .wishis .wishistwo .wishis-text .signat .signatyre {
        font-family: "Kaushan Script";
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: #333333;
        margin-left: 10px; }

.about-blok .sign1, .about-servises .sign2, .design .sign3, .work .sign4, .team .sign5, .exsampl .sign6, .clients .sign7, .stories .sign8 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-blok .story1, .about-servises .story2, .design .story3, .work .story4, .team .story5, .exsampl .story6, .clients .story7, .stories .story8 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-blok .separator-two, .about-servises .separator-three, .design .separator-four, .work .separator-five, .wishis .wishistwo .wishis-text .signat .separator6, .team .separator-seven, .exsampl .separator-eight, .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77, .clients .separator-nine, .clients .clientcolumns .cliseparat, .stories .separator-ten {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.team {
  height: 1000px; }
  .team .sign5 {
    margin-top: 100px;
    margin-bottom: 25px; }
  .team .story5 {
    margin-bottom: 46px; }
  .team .separator-seven {
    margin-bottom: 50px; }
  .team .work-text {
    text-align: center;
    margin-bottom: 95px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999; }
  .team .cards {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between; }
    .team .cards .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 380px;
      height: 550px;
      gap: 9px; }
    .team .cards .cize {
      height: 470px;
      width: 100%;
      margin-bottom: 15px; }
    .team .cards .crdphoto1 {
      background: url(../images/team/team-1.jpg) no-repeat; }
    .team .cards .crdphoto2 {
      background: url(../images/team/team-2.jpg) no-repeat; }
    .team .cards .crdphoto3 {
      background: url(../images/team/team-3.jpg) no-repeat; }
    .team .cards .surname1 {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #333333;
      margin: 0 auto; }
    .team .cards .profession1 {
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 300;
      font-style: italic;
      color: #999999; }

.brends {
  width: 100%;
  height: 250px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center; }

.about-blok .sign1, .about-servises .sign2, .design .sign3, .work .sign4, .team .sign5, .exsampl .sign6, .clients .sign7, .stories .sign8 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-blok .story1, .about-servises .story2, .design .story3, .work .story4, .team .story5, .exsampl .story6, .clients .story7, .stories .story8 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-blok .separator-two, .about-servises .separator-three, .design .separator-four, .work .separator-five, .wishis .wishistwo .wishis-text .signat .separator6, .team .separator-seven, .exsampl .separator-eight, .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77, .clients .separator-nine, .clients .clientcolumns .cliseparat, .stories .separator-ten {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.exsampl {
  height: 1515px; }
  .exsampl .sign6 {
    margin-top: 115px; }
  .exsampl .work-text2 {
    text-align: center;
    margin-bottom: 103px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999; }
  .exsampl .allexsampl {
    height: 780px;
    width: 100%;
    display: flex; }
    .exsampl .allexsampl .leftexsampl,
    .exsampl .allexsampl .rightexample {
      width: 50%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); }
    .exsampl .allexsampl img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .exsampl .allexsampl .rightex1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3; }
    .exsampl .allexsampl .rightex2 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
    .exsampl .allexsampl img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .exsampl .wishis2 {
    width: 100%;
    position: relative; }
    .exsampl .wishis2 .chec22 {
      background: url(../images/icons/arrow___down_353.png) no-repeat;
      width: 22px;
      height: 12px;
      background-size: contain;
      position: absolute;
      transform: rotate(90deg);
      left: 0;
      top: 140px; }
    .exsampl .wishis2 .chec33 {
      background: url(../images/icons/arrow___down_353.png) no-repeat;
      width: 22px;
      height: 12px;
      background-size: contain;
      position: absolute;
      transform: rotate(270deg);
      bottom: 140px;
      right: -20px; }
    .exsampl .wishis2 .wishisthree {
      font-family: Roboto;
      font-size: 24px;
      line-height: 36px;
      font-weight: 300;
      font-style: italic;
      color: #999999;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 290px;
      padding: 0 20px 0 115px;
      margin-top: 55px; }
      .exsampl .wishis2 .wishisthree .wishis-text2 {
        margin-left: 32px; }
        .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 {
          display: flex;
          align-items: center; }
          .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77 {
            margin: 20px 0 !important; }
          .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .signatyre2 {
            font-family: "Kaushan Script";
            font-size: 24px;
            line-height: 1.2;
            font-weight: 400;
            color: #333333;
            margin-left: 10px; }

.about-blok .sign1, .about-servises .sign2, .design .sign3, .work .sign4, .team .sign5, .exsampl .sign6, .clients .sign7, .stories .sign8 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-blok .story1, .about-servises .story2, .design .story3, .work .story4, .team .story5, .exsampl .story6, .clients .story7, .stories .story8 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-blok .separator-two, .about-servises .separator-three, .design .separator-four, .work .separator-five, .wishis .wishistwo .wishis-text .signat .separator6, .team .separator-seven, .exsampl .separator-eight, .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77, .clients .separator-nine, .clients .clientcolumns .cliseparat, .stories .separator-ten {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.clients {
  height: 815px;
  background: url(../images/devices-bg.jpg) center no-repeat;
  background-size: cover; }
  .clients .sign7 {
    padding-top: 109px; }
  .clients .clientcolumns {
    width: 100%;
    height: 558px;
    display: flex;
    padding-top: 50px; }
    .clients .clientcolumns .clientbox {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 70px; }
    .clients .clientcolumns .left {
      margin-left: 245px; }
    .clients .clientcolumns .right {
      margin-right: 195px; }
    .clients .clientcolumns .climg {
      width: 271px;
      height: 110px;
      overflow: hidden;
      border-radius: 50%; }
    .clients .clientcolumns .clientcard {
      width: 512px;
      height: 162px;
      display: flex;
      gap: 15px; }
    .clients .clientcolumns .cliname {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #333333;
      margin-bottom: 15px; }
    .clients .clientcolumns .cliprof {
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 300;
      font-style: italic;
      color: #333333; }
    .clients .clientcolumns .cliseparat {
      margin: 20px 0 25px 0 !important; }
    .clients .clientcolumns .clitext {
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      color: #999999; }

.about-blok .sign1, .about-servises .sign2, .design .sign3, .work .sign4, .team .sign5, .exsampl .sign6, .clients .sign7, .stories .sign8 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-blok .story1, .about-servises .story2, .design .story3, .work .story4, .team .story5, .exsampl .story6, .clients .story7, .stories .story8 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-blok .separator-two, .about-servises .separator-three, .design .separator-four, .work .separator-five, .wishis .wishistwo .wishis-text .signat .separator6, .team .separator-seven, .exsampl .separator-eight, .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77, .clients .separator-nine, .clients .clientcolumns .cliseparat, .stories .separator-ten {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.stories {
  height: 800px; }
  .stories .sign8 {
    padding-top: 112px; }
  .stories .storiscards {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .stories .storiscards .storcard .storimg {
      position: relative; }
      .stories .storiscards .storcard .storimg .stordate {
        width: 60px;
        height: 70px;
        color: #ffffff;
        background-color: #95e1d3;
        position: absolute;
        text-align: center;
        padding-top: 5px;
        bottom: 12px;
        left: -12px; }
        .stories .storiscards .storcard .storimg .stordate p {
          font-family: Montserrat;
          font-size: 30px;
          line-height: 1.2;
          font-weight: 700;
          text-transform: uppercase;
          color: #ffffff; }
        .stories .storiscards .storcard .storimg .stordate .month {
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
          font-style: italic;
          text-transform: none;
          padding-top: none; }
    .stories .storiscards .storcard .storiname {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #333333;
      margin: 20px 0; }
    .stories .storiscards .storcard .storitext {
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      color: #999999; }
    .stories .storiscards .storcard .storiline {
      width: 380px;
      height: 1px;
      background-color: #e5e5e5;
      margin: 20px 0; }
    .stories .storiscards .storcard .storicon {
      display: flex;
      gap: 20px;
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 300;
      font-style: italic;
      color: #999999; }

.about-blok .sign1, .about-servises .sign2, .design .sign3, .work .sign4, .team .sign5, .exsampl .sign6, .clients .sign7, .stories .sign8 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.about-blok .story1, .about-servises .story2, .design .story3, .work .story4, .team .story5, .exsampl .story6, .clients .story7, .stories .story8 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.about-blok .separator-two, .about-servises .separator-three, .design .separator-four, .work .separator-five, .wishis .wishistwo .wishis-text .signat .separator6, .team .separator-seven, .exsampl .separator-eight, .exsampl .wishis2 .wishisthree .wishis-text2 .signat2 .separator-77, .clients .separator-nine, .clients .clientcolumns .cliseparat, .stories .separator-ten {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.footer {
  min-height: 550px; }
  .footer .footer__row {
    display: flex;
    gap: 30px; }
    .footer .footer__row .footer__left {
      width: 460px; }
      .footer .footer__row .footer__left .footer__logo {
        font-family: Montserrat;
        font-size: 46px;
        line-height: 1.2;
        font-weight: 700;
        color: #cccccc;
        margin-bottom: 44px; }
      .footer .footer__row .footer__left .footer__text {
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        color: #999999;
        margin-bottom: 50px; }
      .footer .footer__row .footer__left .footer__followers {
        font-family: Montserrat;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #333333; }
        .footer .footer__row .footer__left .footer__followers span {
          font-size: 14px;
          font-weight: 400; }
        .footer .footer__row .footer__left .footer__followers .footer__separat {
          width: 100%;
          height: 1px;
          background-color: #e5e5e5;
          margin: 20px 0 20px; }
      .footer .footer__row .footer__left .followers__icons {
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        font-style: italic;
        color: #999999; }
        .footer .footer__row .footer__left .followers__icons a img {
          margin-left: 10px; }
      .footer .footer__row .footer__left .footer__form {
        margin-top: 39px; }
        .footer .footer__row .footer__left .footer__form .email {
          font-family: Roboto;
          font-size: 15px;
          line-height: 24px;
          font-weight: 300;
          font-style: italic;
          color: #cccccc;
          margin-top: 6px;
          width: 230px;
          height: 40px;
          background-color: #ffffff;
          border: 1px solid #e7e7e7; }
        .footer .footer__row .footer__left .footer__form .subscbuttton {
          width: 150px;
          height: 40px;
          background-color: #95e1d3;
          font-family: Montserrat;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 700;
          text-transform: uppercase;
          color: #ffffff;
          margin: 6px 0 0 -3px; }
    .footer .footer__row .footer__center {
      width: 331px; }
      .footer .footer__row .footer__center .footer__blogs {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 80px; }
      .footer .footer__row .footer__center .blogs__pict {
        display: flex;
        gap: 20px;
        margin-bottom: 40px; }
        .footer .footer__row .footer__center .blogs__pict .blogs__text {
          font-family: Montserrat;
          font-size: 12px;
          line-height: 18px;
          font-weight: 400;
          text-transform: uppercase;
          color: #333333; }
        .footer .footer__row .footer__center .blogs__pict .blogs__date {
          font-family: Roboto;
          font-size: 13px;
          line-height: 24px;
          font-weight: 300;
          font-style: italic;
          color: #999999; }
    .footer .footer__row .footer__right {
      width: 270px; }
      .footer .footer__row .footer__right .footer__instagram {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 80px; }
      .footer .footer__row .footer__right .footer__cards {
        display: grid;
        width: 270px;
        height: 270px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); }
      .footer .footer__row .footer__right .footer__morefoto {
        font-family: Roboto;
        font-size: 13px;
        line-height: 24px;
        font-weight: 300;
        font-style: italic;
        color: #333333;
        margin-top: 30px; }
  .footer .footer__lastseparat {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 30px 0 20px 0; }
  .footer .footer__copyright {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    text-align: center; }
    .footer .footer__copyright .redletters {
      color: #f38181; }
