.team .sign5 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.team .story5 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.team .separator-seven {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.team {
  height: 1000px; }
  .team .sign5 {
    margin-top: 100px;
    margin-bottom: 25px; }
  .team .story5 {
    margin-bottom: 46px; }
  .team .separator-seven {
    margin-bottom: 50px; }
  .team .work-text {
    text-align: center;
    margin-bottom: 95px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999; }
  .team .cards {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between; }
    .team .cards .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 380px;
      height: 550px;
      gap: 9px; }
    .team .cards .cize {
      height: 470px;
      width: 100%;
      margin-bottom: 15px; }
    .team .cards .crdphoto1 {
      background: url(../images/team/team-1.jpg) no-repeat; }
    .team .cards .crdphoto2 {
      background: url(../images/team/team-2.jpg) no-repeat; }
    .team .cards .crdphoto3 {
      background: url(../images/team/team-3.jpg) no-repeat; }
    .team .cards .surname1 {
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #333333;
      margin: 0 auto; }
    .team .cards .profession1 {
      font-family: Roboto;
      font-size: 15px;
      line-height: 24px;
      font-weight: 300;
      font-style: italic;
      color: #999999; }

.brends {
  width: 100%;
  height: 250px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center; }
