.work .sign4 {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  text-align: center; }

.work .story4 {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  text-align: center; }

.work .separator-five, .wishis .wishistwo .wishis-text .signat .separator6 {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto; }

.work {
  height: 800px; }
  .work .sign4 {
    margin-top: 116px;
    margin-bottom: 25px; }
  .work .story4 {
    margin-bottom: 43px; }
  .work .separator-five {
    margin-bottom: 50px; }
  .work .work-text {
    text-align: center;
    margin-bottom: 95px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #999999; }
  .work .work-table {
    width: 1200px;
    height: 380px;
    display: flex;
    justify-content: space-between; }
    .work .work-table .work-pict {
      width: 570px;
      height: 380px;
      background: url(../images/work.jpg) no-repeat;
      background-size: cover; }
    .work .work-table .work-buttons {
      width: 570px;
      height: 380px; }
      .work .work-table .work-buttons .icon2 {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #333333; }
      .work .work-table .work-buttons .chec {
        background: url(../images/icons/arrow___down_353.png) no-repeat;
        width: 22px;
        height: 12px;
        background-size: contain;
        position: absolute;
        top: 24px;
        right: 24px; }
      .work .work-table .work-buttons .buton1 {
        width: 600px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #e5e5e5;
        position: relative;
        display: flex;
        align-items: center; }
        .work .work-table .work-buttons .buton1 .work-butone {
          background: url(../images/icons/photo.png) no-repeat;
          height: 30px;
          width: 30px;
          background-size: contain;
          margin: 0 16px 0 24px; }
      .work .work-table .work-buttons .work-plasehold {
        font-family: Roboto;
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        font-style: italic;
        color: #999999;
        border: 1px solid #e5e5e5;
        border-top: none;
        width: 600px;
        padding: 10px 20px 20px 10px;
        overflow-y: scroll; }
      .work .work-table .work-buttons .buton3 {
        width: 600px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #e5e5e5;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 10px; }
        .work .work-table .work-buttons .buton3 .work-butwoo {
          background: url(../images/icons/creativity.png) no-repeat;
          height: 30px;
          width: 30px;
          background-size: contain;
          margin: 0 16px 0 24px; }
      .work .work-table .work-buttons .buton4 {
        width: 600px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #e5e5e5;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 10px; }
        .work .work-table .work-buttons .buton4 .work-buthree {
          background: url(../images/icons/design.png) no-repeat;
          height: 30px;
          width: 30px;
          background-size: contain;
          margin: 0 16px 0 24px; }

.wishis {
  width: 100%;
  background-color: #f8f8f8;
  position: relative; }
  .wishis .chec2 {
    background: url(../images/icons/arrow___down_353.png) no-repeat;
    width: 22px;
    height: 12px;
    background-size: contain;
    position: absolute;
    transform: rotate(90deg);
    left: 0;
    top: 140px; }
  .wishis .chec3 {
    background: url(../images/icons/arrow___down_353.png) no-repeat;
    width: 22px;
    height: 12px;
    background-size: contain;
    position: absolute;
    transform: rotate(270deg);
    bottom: 140px;
    right: -20px; }
  .wishis .wishistwo {
    font-family: Roboto;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 290px;
    padding: 0 20px 0 115px; }
    .wishis .wishistwo .icon-speech {
      width: 150px;
      height: 150px;
      background-color: rgba(0, 0, 0, 0);
      border: 3px solid #95e1d3; }
      .wishis .wishistwo .icon-speech .iconin {
        background: url(../images/icons/speech.png) no-repeat;
        background-size: contain;
        width: 63px;
        height: 61px;
        margin: 45px auto; }
    .wishis .wishistwo .wishis-text .signat {
      display: flex;
      align-items: center; }
      .wishis .wishistwo .wishis-text .signat .separator6 {
        margin: 20px 0 !important; }
      .wishis .wishistwo .wishis-text .signat .signatyre {
        font-family: "Kaushan Script";
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: #333333;
        margin-left: 10px; }
