@import "vars";

.about-blok {
	width: 100%;
	height: 1000px;

	.sign1 {
		margin-top: 92px;
		margin-bottom: 25px;
		@extend %signs;
	}

	.story1 {
		margin-bottom: 42px;
		@extend %story;
	}

	p {
		font-family: Roboto;
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;
		color: #999999;
		text-align: center;
		margin-bottom: 65px;
	}

	.separator-two {
		margin: 0 auto;
		margin-bottom: 50px;
		@extend %separat;
	}

	.card-wraper {
		width: 100%;
		height: 250px;
		display: flex;
		justify-content: space-between;
		flex-direction: row;

		.about {
			width: 380px;
			height: 250px;
			background-size: contain;

			&-pic1 {
				background: url(../images/about/about-1.jpg) center no-repeat;
			}

			&-pic2 {
				background: url(../images/about/about-2.jpg) center no-repeat;
			}

			&-pic3 {
				background: url(../images/about/about-3.jpg) center no-repeat;
			}
		}
	}
	.about-footer {
		width: 100%;
		height: 270px;
		background-color: #95e1d3;
		margin-top: 110px;

		.stats-wrapper {
			display: flex;
			width: 100%;

			.card {
				width: 20%;
				height: 270px;
				color: white;
				font-size: 14px;
				text-align: center;
				padding-top: 89px;
				border-right: 1px solid #ffffff;

				&:first-child {
					border-left: 1px solid #ffffff;
				}

				span {
					font-size: 72px;
					font-weight: 700;
				}
			}
		}
	}
}
