@import "vars";

.clients{
	height: 815px;
	background: url(../images/devices-bg.jpg) center no-repeat;
	background-size: cover;
	

	.sign7{
		@extend %signs;
		padding-top: 109px;
	}
	.story7{
		@extend %story;
	}
	.separator-nine{
		@extend %separat;
	}

	.clientcolumns{
		width: 100%;
		height: 558px;
		display: flex;
		padding-top: 50px;

		.clientbox {
			width: 50%;
			display: flex;
			flex-direction: column;
			gap: 70px;
		}	
			.left{
				margin-left: 245px;
			}
			.right{
				margin-right: 195px;
			}
			
		

		.climg{
			width: 271px;
			height: 110px;
			overflow: hidden;
  			border-radius: 50%;
		}
		.clientcard{
			width: 512px;
			height: 162px;
			display: flex;
			gap: 15px;
		}
		.cliname{
			font-family: Montserrat;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			color: #333333;
			margin-bottom: 15px;
		}
		.cliprof{
			font-family: Roboto;
			font-size: 15px;
			line-height: 24px;
			font-weight: 300;
			font-style: italic;
			color: #333333;
		}
		.cliseparat{
			@extend %separat;
			margin: 20px 0 25px 0 !important;
		}
		.clitext{
			font-family: Roboto;
			font-size: 15px;
			line-height: 24px;
			font-weight: 400;
			color: #999999;
		}
	}
	

}