@import "vars";

.design{
	height: 850px;
	background: url(../images/devices-bg.jpg) center no-repeat;
	background-size: cover;
	position: relative;
	
	.sign3{
		@extend %signs;
		padding-top: 96px;
	}
	.story3{
		@extend %story;
		padding-top: 25px;
	}	
	.separator-four{
		@extend %separat;
	}
	.device-wrapper{
		position: relative;
		width: 477px;	
		margin: 0 auto;
		margin-top: 26px;

		.tablet{
			width: 477px;
			height: 713px;		
			background: url(../images/display.png)  no-repeat;
			
		
			
		}
		.smalphone{
			position: absolute;
			top: 200px;
			right: -160px;
			width: 274px;
			height: 476px;
			background: url(../images/iphone.png)  no-repeat;
		}
	}
	

}