@import "vars";

.exsampl {
	height: 1515px;

	.sign6 {
		@extend %signs;
		margin-top: 115px;
	}

	.story6 {
		@extend %story;
	}

	.separator-eight {
		@extend %separat;
	}

	.work-text2 {
		text-align: center;
		margin-bottom: 103px;
		font-family: Roboto;
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;
		color: #999999;
	}

	.allexsampl {
		height: 780px;
		width: 100%;
		display: flex;

		.leftexsampl,
		.rightexample {
			width: 50%;
			height: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.rightex1 {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 3;
		}

		.rightex2 {
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// пожелания2

	.wishis2 {
		width: 100%;
		// height: 100%;
		position: relative;

		.chec22 {
			background: url(../images/icons/arrow___down_353.png) no-repeat;
			width: 22px;
			height: 12px;
			background-size: contain;
			position: absolute;
			transform: rotate(90deg);
			left: 0;
			top: 140px;
		}

		.chec33 {
			background: url(../images/icons/arrow___down_353.png) no-repeat;
			width: 22px;
			height: 12px;
			background-size: contain;
			position: absolute;
			transform: rotate(270deg);
			bottom: 140px;
			right: -20px;
		}

		.wishisthree {
			font-family: Roboto;
			font-size: 24px;
			line-height: 36px;
			font-weight: 300;
			font-style: italic;
			color: #999999;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 290px;
			padding: 0 20px 0 115px;
			margin-top: 55px;

			.wishis-text2 {
				margin-left: 32px;

				.signat2 {
					display: flex;
					align-items: center;

					.separator-77 {
						@extend %separat;
						margin: 20px 0 !important; 
					}

					.signatyre2 {
						font-family: "Kaushan Script";
						font-size: 24px;
						line-height: 1.2;
						font-weight: 400;
						color: #333333;
						margin-left: 10px;
					}
				}
			}
		}
	}
}
