@import "vars";

.about-servises{
	width: 100%;
	height: 650px;

	.sign2{
		@extend %signs;
		margin: 110px 0 25px;
	}

	.story2{
		@extend %story;
		margin-bottom: 44px ;
	}

	.separator-three{
		@extend %separat;
		margin-bottom: 66px;
		
	}

	.servis-card{

		.line{
			height: 1px;
			background-color: #e5e5e5;
			margin-bottom: 51px;
		}

		ul{
			height: 121px;
			display: flex;


			.card1{
				width: 33%;
				display: flex;

				p{
					padding-left: 30px;
					
				}

				.icon1{
					width: 32px;
					height: 31px;
					
					display: block;
					background-size: contain !important;

					
					&-photo{
						background: url(../images/icons/photo.png)  no-repeat;						
					}

					&-design{
						background: url(../images/icons/design.png)  no-repeat;						
					}

					&-creativity{
						background: url(../images/icons/creativity.png)  no-repeat;
					}

					&-seo{
						background: url(../images/icons/seo.png)  no-repeat;
					}

					&-chtml{
						background: url(../images/icons/html.png)  no-repeat;
					}

					&-digital{
						background: url(../images/icons/digital.png)  no-repeat;
					}
				}
								
				.uptit{
					font-family: Montserrat;
					font-size: 14px;
					line-height: 1.2;
					font-weight: 400;
					text-transform: uppercase;
					color: #333333;
					margin-bottom: 21px;
					text-align: left;
				}
				.textin{
					font-family: Roboto;
					font-size: 15px;
					line-height: 24px;
					font-weight: 400;
					color: #999999;
					text-align: left;
					
				}
			}
		}
	}
}