@import "vars";
.stories {
	height: 800px;

	.sign8 {
		@extend %signs;
		padding-top: 112px;
	}
	.story8 {
		@extend %story;
	}
	.separator-ten {
		@extend %separat;
	}
	.storiscards {
		height: 400px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		

		.storcard {
			.storimg {
				position: relative;

				.stordate {
					width: 60px;
					height: 70px;
					color: #ffffff;
					background-color: #95e1d3;
					position: absolute;
					text-align: center;
					padding-top: 5px;
					bottom: 12px;
					left: -12px;

					p {
						font-family: Montserrat;
						font-size: 30px;
						line-height: 1.2;
						font-weight: 700;
						text-transform: uppercase;
						color: #ffffff;
						// padding: 5px 0 2px 0;
					}
					.month {
						font-family: Roboto;
						font-size: 15px;
						font-weight: 300;
						font-style: italic;
						text-transform: none;
						padding-top: none;
					}
				}
			}
			.storiname {
				font-family: Montserrat;
				font-size: 14px;
				line-height: 1.2;
				font-weight: 400;
				text-transform: uppercase;
				color: #333333;
				margin: 20px 0;
			}
			.storitext {
				font-family: Roboto;
				font-size: 15px;
				line-height: 24px;
				font-weight: 400;
				color: #999999;
			}
			.storiline {
				width: 380px;
				height: 1px;
				background-color: #e5e5e5;
				margin: 20px 0;
			}
			.storicon {
				display: flex;
				gap: 20px;
				font-family: Roboto;
				font-size: 15px;
				line-height: 24px;
				font-weight: 300;
				font-style: italic;
				color: #999999;
			}
		}
	}
}
