@import "vars";

.team {
	height: 1000px;
	.sign5 {
		@extend %signs;
		margin-top: 100px;
		margin-bottom: 25px;
	}

	.story5 {
		@extend %story;
		margin-bottom: 46px;
	}

	.separator-seven {
		@extend %separat;
		margin-bottom: 50px;
	}

	.work-text {
		text-align: center;
		margin-bottom: 95px;
		font-family: Roboto;
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;
		color: #999999;
	}

	.cards {
		width: 100%;
		height: 550px;
		display: flex;
		justify-content: space-between;

		.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 380px;
			height: 550px;
			gap: 9px;
		}
		.cize {
			height: 470px;
			width: 100%;
			margin-bottom: 15px;
		}

		.crdphoto1 {
			background: url(../images/team/team-1.jpg) no-repeat;
		}

		.crdphoto2 {
			background: url(../images/team/team-2.jpg) no-repeat;
		}

		.crdphoto3 {
			background: url(../images/team/team-3.jpg) no-repeat;
		}

		.surname1 {
			font-family: Montserrat;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 400;
			text-transform: uppercase;
			color: #333333;
			margin: 0 auto;
		}

		.profession1 {
			font-family: Roboto;
			font-size: 15px;
			line-height: 24px;
			font-weight: 300;
			font-style: italic;
			color: #999999;
		}
	}
}
// бренды
.brends {
	width: 100%;
	height: 250px;
	background-color: #f8f8f8;
	display: flex;
	align-items: center;
}
