%signs {
	font-family: "Kaushan Script";
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	color: #333333;
	text-align: center;
}

%story {
	font-family: Montserrat;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #333333;
	text-align: center;
}

%separat {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin: 40px auto;
}
