@import "vars";

.work {
	height: 800px;

	.sign4 {
		@extend %signs;
		margin-top: 116px;
		margin-bottom: 25px;
	}

	.story4 {
		@extend %story;
		margin-bottom: 43px;
	}

	.separator-five {
		@extend %separat;
		margin-bottom: 50px;
	}
	.work-text {
		text-align: center;
		margin-bottom: 95px;
		font-family: Roboto;
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;
		color: #999999;
	}

	.work-table {
		width: 1200px;
		height: 380px;
		display: flex;
		justify-content: space-between;

		.work-pict {
			width: 570px;
			height: 380px;
			background: url(../images/work.jpg) no-repeat;
			background-size: cover;
		}
		.work-buttons {
			width: 570px;
			height: 380px;

			.icon2 {
				font-family: Montserrat;
				font-size: 14px;
				line-height: 1.2;
				font-weight: 400;
				color: #333333;
			}
			.chec {
				background: url(../images/icons/arrow___down_353.png) no-repeat;
				width: 22px;
				height: 12px;
				background-size: contain;
				position: absolute;
				top: 24px;
				right: 24px;
			}

			.buton1 {
				width: 600px;
				height: 60px;
				background-color: rgba(0, 0, 0, 0);
				border: 1px solid #e5e5e5;
				position: relative;
				display: flex;
				align-items: center;

				.work-butone {
					background: url(../images/icons/photo.png) no-repeat;
					height: 30px;
					width: 30px;
					background-size: contain;
					margin: 0 16px 0 24px;
				}
			}

			.work-plasehold {
				font-family: Roboto;
				font-size: 15px;
				line-height: 24px;
				font-weight: 300;
				font-style: italic;
				color: #999999;
				border: 1px solid #e5e5e5;
				border-top: none;
				width: 600px;
				padding: 10px 20px 20px 10px;
				overflow-y: scroll;
			}
			.buton3 {
				width: 600px;
				height: 60px;
				background-color: rgba(0, 0, 0, 0);
				border: 1px solid #e5e5e5;
				position: relative;
				display: flex;
				align-items: center;
				margin-top: 10px;

				.work-butwoo {
					background: url(../images/icons/creativity.png) no-repeat;
					height: 30px;
					width: 30px;
					background-size: contain;
					margin: 0 16px 0 24px;
				}
			}
			.buton4 {
				width: 600px;
				height: 60px;
				background-color: rgba(0, 0, 0, 0);
				border: 1px solid #e5e5e5;
				position: relative;
				display: flex;
				align-items: center;
				margin-top: 10px;

				.work-buthree {
					background: url(../images/icons/design.png) no-repeat;
					height: 30px;
					width: 30px;
					background-size: contain;
					margin: 0 16px 0 24px;
				}
			}
		}
	}
}
// блок пожелания
.wishis {
	width: 100%;
	background-color: #f8f8f8;
	position: relative;

	.chec2 {
		background: url(../images/icons/arrow___down_353.png) no-repeat;
		width: 22px;
		height: 12px;
		background-size: contain;
		position: absolute;
		transform: rotate(90deg);
		left: 0;
		top: 140px;
	}

	.chec3 {
		background: url(../images/icons/arrow___down_353.png) no-repeat;
		width: 22px;
		height: 12px;
		background-size: contain;
		position: absolute;
		transform: rotate(270deg);
		bottom: 140px;
		right: -20px;
	}

	.wishistwo {
		font-family: Roboto;
		font-size: 24px;
		line-height: 36px;
		font-weight: 300;
		font-style: italic;
		color: #999999;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 290px;
		padding: 0 20px 0 115px;

		.icon-speech {
			width: 150px;
			height: 150px;
			background-color: rgba(0, 0, 0, 0);
			border: 3px solid #95e1d3;

			.iconin {
				background: url(../images/icons/speech.png) no-repeat;
				background-size: contain;
				width: 63px;
				height: 61px;
				margin: 45px auto;
			}
		}

		.wishis-text {
			.signat {
				display: flex;
				align-items: center;

				.separator6 {
					@extend %separat;
					margin: 20px 0 !important;
				}

				.signatyre {
					font-family: "Kaushan Script";
					font-size: 24px;
					line-height: 1.2;
					font-weight: 400;
					color: #333333;
					margin-left: 10px;
				}
			}
		}
	}
}
